{% extends 'auctions/base.html' %}

{% block title %} listing_object Object {% endblock %}

{% block content %}
    <div class="col-12 mt-4">
        <p class="fs-4 fw-bold">Page of listing_objects!</p>
        
        <!-- O 'row' inicia a linha do Grid do Bootstrap -->
        <div class="row g-4">
            <!-- Define o tamanho do grid: 1 por linha no celular (col-12), 3 por linha no computador (col-lg-4) -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body d-flex flex-column">
                        <!-- Título do Anúncio -->
                        <h3 class="card-title h5 text-primary fw-bold">{{ listing_object.title }}</h3>
                        
                        <!-- Descrição com seus filtros originais e flex-grow para empurrar a data para o final -->
                        <div class="card-text text-muted flex-grow-1">
                            {{ listing_object.description|linebreaks }}
                        </div>
                        {% if user.is_authenticated %}
                            <p>
                                <a href="{% url 'place_bid' listing_object.id %}" class="btn btn-secondary w-50">Send Bid</a>
                            </p>
                        {% endif %}
                        
                        <!-- Data limite alinhada no rodapé do card -->
                        <div class="border-top pt-2 mt-3">
                            <p class="card-text mb-0 text-danger small">
                                <strong>Ends at:</strong> {{ listing_object.date_endind|date:"d/m/Y \a\t H:i" }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}